<section class="nav-section">
    <div class="container nav">
        <nav class="nav-container">
            <div class="nav-logo-container">
                <svg width="32" height="32" class="nav-logo">
                    <use href="./img/icons.svg#logo-icon"></use>
                </svg>
                <a href="./index.html" class="nav-logo-text">Cucina</a>
            </div>
            <ul class="nav-ul">
                <li class="nav-ul-li"><a href="" class="nav-ul-li-a">Home</a></li>
                <li class="nav-ul-li"><a href="" class="nav-ul-li-a">Store</a></li>
                <li class="nav-ul-li"><a href="" class="nav-ul-li-a">Recipes</a></li>
                <li class="nav-ul-li"><a href="" class="nav-ul-li-a">Gallery</a></li>
            </ul>
            <button type="button" class="nav-button">Contact us</button>
            <div class="nav-mobile-button">
                <svg width="31px" height="18px" class="mobile-menu-button" id="open_menu">
                    <use href="./img/icons.svg#mobile-menu-icon"></use>
                </svg>
            </div>
             <div class="mobile-menu-container" id="mobile_menu">
                <div class="mobile-menu-top-container">
                    <div class="mobile-menu-logo-container">
                        <svg class="nav-logo" width="32" height="32">
                            <use href="./img/icons.svg#logo-icon"></use>
                        </svg>
                        <a href="./index.html" class="nav-logo-text">Cucina</a>
                    </div>
                    <svg class="nav-logo" id="close_menu" width="32" height="32">
                        <use href="./img/icons.svg#mobile-menu-close-button"></use>
                    </svg>
                </div>
                <ul class="mobile-menu-ul">
                    <li class="mobile-menu-ul-li"><a href="" class="mobile-menu-ul-li-a">Home</a></li>
                    <li class="mobile-menu-ul-li"><a href="" class="mobile-menu-ul-li-a">Store</a></li>
                    <li class="mobile-menu-ul-li"><a href="" class="mobile-menu-ul-li-a">Recipes</a></li>
                    <li class="mobile-menu-ul-li"><a href="" class="mobile-menu-ul-li-a">Gallery</a></li>
                    <li><button type="button" class="nav-button-mobile">Contact us</button></li>
                </ul>

             </div>
        </nav>
    </div>
</section>