<section class="hero-section">
    <div class="container hero">
            <div class="hero-container-text">
                <div class="hero-info-container">
                    <h1 class="hero-header">CUCINA DI <br/>CATHERINA</h1>
                    <h2 class="hero-header-below">We know,<br/> you will <span class="hero-span">love</span> our product</h2>
                    <div class="hero-button-container">
                        <button class="hero-button">Buy now</button>
                    </div>
                    <ul class="hero-ul">
                        <li class="hero-ul-li"><span class="hero-span-li">14</span> different tastes</li>
                        <li class="hero-ul-li"><span class="hero-span-li">32</span> factories around the world</ul>
                    </ul>
                </div> 
                <div class="hero-picture-container">
                    <picture>
                        <source media="(min-width:768px)" srcset="../img/ketchup-desktop.png 1x, ../img/ketchup-desktop-2x.png 2x">
                        <img class="hero-image" src="./img/ketchup-phone.png" srcset="../img/ketchup-phone.png 1x, ../img/ketchup-phone-2x.png 2x" alt="hetchup-photo">
                    </picture>
                        <img src="./img/katchup-line@1x.png" srcset="./img/katchup-line@1x.png 1x, ./img/katchup-line@2x.png 2x" class="ketchup-line first" alt="ketchup-line">
                        <p class="ketchup-line-text first-text">italy tomatoes</p>
                        <img src="./img/katchup-line-2@1x.png" srcset="./img/katchup-line-2@1x.png 1x, ./img/katchup-line-2x@2x.png 2x" class="ketchup-line second" alt="ketchup-line">
                        <p class="ketchup-line-text second-text">fresh garlic</p>
                        <img src="./img/line-3@1x.png" srcset="./img/line-3@1x.png 1x, ./img/line-3@2x.png 2x" class="ketchup-line third" alt="ketchup-line">
                        <p class="ketchup-line-text third-text">white wine</p>
                        <img src="./img/ketchup-line-4@1x.png" srcset="./img/ketchup-line-4@1x.png 1x, ./img/ketchup-line-4@2x.png 2x" class="ketchup-line fourth" alt="ketchup-line">
                        <p class="ketchup-line-text fourth-text">fresh basil</p>
                    <ul class="hero-links-ul">
                        <li class="hero-links-ul-li"><svg class="hero-links-ul-li-icons" width="24px" height="24px"><use href="../img/icons.svg#hero-link-facebook"></use></svg></li>
                        <li class="hero-links-ul-li"><svg class="hero-links-ul-li-icons" width="24px" height="24px"><use href="../img/icons.svg#hero-link-instagram"></use></svg></li>
                        <li class="hero-links-ul-li"><svg class="hero-links-ul-li-icons" width="24px" height="24px"><use href="../img/icons.svg#hero-link-youtube"></use></svg></li>
                        <li class="hero-links-ul-li"><svg class="hero-links-ul-li-icons" width="24px" height="24px"><use href="../img/icons.svg#hero-link-twitter"></use></svg></li>
                    </ul>
                </div>
            </div>
         
    </div>
</section>