.nav-container{
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.nav-section{
    background: linear-gradient(290deg, #6F6666 2.17%, #100F0F 75.72%);
    color:  #F3F3F3;
}
   
.nav-mobile-button{
    stroke: #F3F3F3;
}

.nav-logo{
    fill: #f3f3f3;
    cursor: pointer;
}




@media (min-width:320px){
    .nav-container{
        justify-content: space-between;
        height: 40px;
    }

    .nav-ul{
        display: none;
    }

    /* .nav-button{
        display: none;
    } */

    .mobile-menu-button{
        stroke: #f3f3f3;
        cursor: pointer;
    }
    
    .nav-logo-text{
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
    }
    
    .nav-logo-container{
        display: flex;
        gap: 16px;
        align-items: center;
    }


    .nav-button{
        display: none;
    }

    .mobile-menu-container{
        top: 0;
        right: -100%;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        background-color:  #100F0F;
        transition: right 0.3s ease; /* Анімація виїзду */
    }

    .mobile-menu-top-container{
        margin: 0 auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-menu-logo-container{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .mobile-menu-close{
        fill: #F3F3F3;
    }

    .mobile-menu-ul-li-a{
        color:  #F3F3F3;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .mobile-menu-ul{
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: center;
    }

    .nav-button-mobile{
        display: block;
        border-radius: 16px;
        border: 1px solid #F3F3F3;
        background-color: transparent;
        padding: 9px 32px 10px 32px;
        color:  #F3F3F3;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        transition-duration: 0.3s;
        margin-top: 12px;
    }

    .nav-button-mobile:hover {
        transition-duration: 0.3s;
        border: 1px solid rgba(188, 26, 26, 0.50);
        color: rgba(188, 26, 26, 0.50);
    }
    
    .is-vissable{
        opacity: 1;
        right: 0;
        z-index: 10;
    }
}

@media (min-width: 763px){

    .nav-container{
        justify-content: space-between;
    }

    .nav-logo{
        fill: #f3f3f3;
    }

    .nav-button{
        display: block;
        border-radius: 16px;
        border: 1px solid #F3F3F3;
        background-color: transparent;
        padding: 9px 32px 10px 32px;
        color:  #F3F3F3;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        transition-duration: 0.3s;
    }

    .nav-button:hover {
        transition-duration: 0.3s;
        border: 1px solid rgba(188, 26, 26, 0.50);
        color: rgba(188, 26, 26, 0.50);
    }
    
    .mobile-menu-button{
        stroke: #f3f3f3;
    }
    
    
    .nav-logo-text{
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-logo-container{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }
    
    .nav-ul{
        display: flex;
        margin: 0 auto;
        gap: 52px;
    }

    .nav-mobile-button{
        display: none;
    }
}