/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./products.css');

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #f3f3f3;
  /* background: linear-gradient(257deg, rgba(111, 102, 102, 0.90) 26.96%, rgba(16, 15, 15, 0.90) 79.08%, rgba(16, 15, 15, 0.90) 79.08%); */
}

.container{
  max-width: 1136px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}